@page "/"
@using LibraryWithBlazorUpdate.Data
@using LibraryWithBlazorUpdate.Components.Models
@using Microsoft.EntityFrameworkCore
@inject LibraryWithBlazorUpdateContext Context
@attribute [StreamRendering]

<PageTitle>Home</PageTitle>

<h1>Library</h1>

<h2>books, members loans:</h2> 

@if (items == null || members == null || loans == null)
{
	<p><em>Loading...</em></p>
}
else if (items.Count == 0 && loans.Count == 0 && members.Count > 0)
{
	<p><em>There is nothing to see here :/</em></p>
}
else
{
	if (members.Count > 0)
	{
		<h3>Members:</h3>
		@foreach (var member in members)
		{
			<div style ="border: 1px solid black;">
				Name:
				@member.memberName
				| Email:
				@member.email
				| Member Since:
				@member.memberSince.ToShortDateString()
				| Loans Count:
				@member.loans.Count
			</div>	
		}
	}

	if(loans.Count > 0)
	{
		<h3>Loans:</h3>
		@foreach (var loan in loans)
		{
			<div style ="border: 1px solid black;">
				Item:
				@loan.item?.title
				| Member:
				@loan.member?.memberName
				| Loan Date:
				@loan.loanDate.ToShortDateString()
				| Due Date:
				@loan.dueDate.ToShortDateString()
				| Return Date:
				@(loan.returnDate?.ToShortDateString() ?? "Not returned")
				| Is Returned:
				@(loan.isReturned ? "Yes" : "No")
			</div>	
		}
	}

	if(items.Count > 0)
	{
		<h3>Books, movies and other library items:</h3>
		@foreach (var item in items)
		{
			<div style="border: 1px solid black;">
				Title:
				@item.title

				| Author:
				@item.author

				| Published Year:
				@item.publishedYear

				| Available:
				@(item.isAvailable ? "Yes" : "No")

				| Type:
				@GetItemType(item)

			</div>
		}
	}
}


@code {
	List<LibraryItem> items;
	List<Loan> loans;
	List<Member> members;

	protected override void OnInitialized()
	{
		items = Context.LibraryItems.ToList();
		loans = Context.Loans.ToList();
		members = Context.Members.ToList();
	}

	private string GetItemType(LibraryItem item)
	{
		return item switch
		{
			Book => "Book",
			Movie => "Movie",
			Magazine => "Magazine",
			_ => "Unknown"
		};
	}
}
